body {
	background-color: black;
	margin: 0;
	padding: 0;
}

::selection {
	background: #de9251;
}

section {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

h1 {
	text-align: center;
	font-size: 120px;
	font-family: "Leckerli One", Helvetica, sans-serif;
	color: #301600;
	position: absolute;
	margin: 0;
	padding: 0;
}
h1 > span {
	font-size: 80px;
}